:root {
  /* Color Definitions */
  --header-text: aliceblue;
  --header-bg: rgb(35, 52, 104);
  --text-bg: rgb(185, 194, 220);
  --text-border: rgb(185, 194, 220);
}

body {
  background-color: var(--header-text);
}

th {
  font-size: 24px;
  color: var(--header-text);
  padding: 10px;
  background-color: var(--header-bg);
  font-family: 'Sigmar', cursive;
  letter-spacing: 1px;
  border-radius: 10px;
}

td {
  padding: 10px;
  background-color: var(--text-bg);
  border: 1px solid var(--text-border);
  border-radius: 10px;
  width: 50%;
  font-family: 'Poppins', sans-serif;
}

table {
  border-collapse: separate;
  border-spacing: 5px 5px;
}

svg {
  fill: var(--header-text);
  position: relative;
  top: 6px;
  left  : 100px;
}

svg:hover {
  fill: var(--text-bg);
}
